langchain==0.0.184
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.18.1
openai==0.27.6
faiss-cpu==1.7.4
altair==4.0

# included to use huggingface llms (they are a lot slower and though accurate they are not able to articulate as well as OpenAI's llm models)
 huggingface-hub==0.14.1

# included to use instructor embeddings (they are rated to be better than the current openAI embeddings we are using)
 InstructorEmbedding==1.0.1
 sentence-transformers==2.2.2
#the embeddings as well as the llm model both can be switched to opensource models with minor adustments 
#it takes slightly longer for it to generate outputs and embeddings in that case which is why i used OpenAi 
